<div class="action-buttons">
    <button (click)="formLoadingTrigger.next('user')" type="button">Load User Form</button>
    <button (click)="formLoadingTrigger.next('company')" type="button">Load Company Form</button>
</div>
<div class="dynamic-form-container" *ngIf="formConfig$ | async as formConfig">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h3 class="form-heading">{{ formConfig.description }}</h3>
        <div class="form-field" *ngFor="let control of formConfig.controls | keyvalue">
            <label [for]="control.key">{{ control.value.label }}</label>
            <ng-container [ngSwitch]="control.value.controlType">
                <input *ngSwitchCase="'input'"
                        [formControlName]="control.key"
                        [type]="control.value.type"
                        [id]="control.key"
                        [value]="control.value.value">

                <ng-container *ngSwitchCase="'select'">
                    <select
                        [formControlName]="control.key"
                        [id]="control.key"
                        [value]="control.value.value">
                        <option *ngFor="let option of control.value.options"
                            [value]="option.value">
                            {{ option.label }}
                        </option>
                    </select>
                </ng-container>

            </ng-container>
        </div>
        <button>Save</button>
    </form>
</div>